<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>webViewProgressBarTintColor</key>
	<array>
		<integer>49</integer>
		<integer>152</integer>
		<integer>199</integer>
		<integer>100</integer>
	</array>
	<key>appMainBg</key>
	<array>
		<integer>77</integer>
		<integer>142</integer>
		<integer>255</integer>
		<integer>100</integer>
	</array>
</dict>
</plist>
